# important files folders
**/sender.json


# cache
__pycache__/

# VS Code
.vscode/

# Environment variables / secrets
.env
*.env
*.secret
secrets.json

# Output files
output/
Output/

# OAuth2 credentials (if present)
token.json
credentials.json
**.pickle

# Logs
*.log

# Venv
venv/
.venv/
