# important files folders
Settings/Settings_email.json
Settings/Settings_Lang.json
# cache
__pycache__/

# VS Code
.vscode/

# Environment variables / secrets
.env
.env.*
*.env
*.secret
secrets.json

# Output files
output/output.html

# OAuth2 credentials (if present)
token.json
credentials.json

# Logs
*.log

# Venv
venv/
.venv/
